<%= tinymce_assets %>

<div class ="container">
  <h1>MADLIB GAME</h1>
            
       <div>
          <%= render 'mainform', game: @games%>
      </div>

     <div class="panel panel-success">


             </div>

  </div>

